/* 記事閲覧ページのボタン郡のアニメーション */
.hover-target:hover > svg {
    animation: allow 0.7s infinite;
}

@keyframes allow {
    0% {
        transform: scale(1.2) translateX(0);
        opacity: 1;
    }
    25% {
        transform: scale(1.2) translateX(-30%);
        opacity: 1;
    }
    100% {
        transform: scale(1.2) translateX(0%);
        opacity: 1;
    }
}

/* 汎用的なホバー拡大スタイル */
.hover-grow {
    transition: transform 0.1s ease-out; /* なめらかな拡大のためのトランジション */
}

.hover-grow:hover {
    transform: scale(1.1); /* 1.1倍に拡大 */
}

/* TOPページの背景画像のアニメーション */
.bg-switch {
    animation: bgSwitch 16s infinite, bgScaleOut 4s infinite;
    background-blend-mode: multiply;
}

@keyframes bgSwitch {
    0%,
    25% {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("/images/photo1.jpg");
    }
    25.1%,
    50% {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("/images/photo2.jpg");
    }
    50.01%,
    75% {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("/images/photo3.jpg");
    }
    75.1%,
    100% {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("/images/photo4.jpg");
    }
}

@keyframes bgScaleOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
